<!-- code by Leaf -->    	
<!doctype html> 
<html ng-app="test"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="description" content="网页描述" />
    <meta name="Keywords" content="关键字" />
    <title></title>
<script src="angular.js"></script>
<script type="text/javascript">
	var app = angular.module('test',[]);
	app.controller('main',function($scope,$http){
	$scope.word = '';
	$scope.alert=function(arg){
		alert(arg);
	};
	$scope.$watch('word',function(str){
		$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{params:{wd:str,cb:'JSON_CALLBACK'}}).success(function(json){
			$scope.arr = json.s;
		}).error(function(){});
	});
});

</script>
</head>
   
<body>
<body ng-controller="main">
<input type="text" ng-model="word" />
<ul>
	<li ng-repeat="item in arr" style="color:red;" >{{item}}</li>
</ul>
</body>
</html>